.transactionHistory {
  width: 870px;
  line-height: 50px;
  text-align: center;
  background-color: #fff;
  border: 1px solid grey;
  font-family: Arial, Helvetica, sans-serif;
}

.thead {
  background-color: #00bcd5;
  color: #fff;
  font-weight: 14px;
  text-transform: uppercase;
}

.tableRow {
  background-color: #fff;
  text-transform: capitalize;
}

.tableRow:nth-child(even) {
  background-color: #ecf1f4;
}
